@import "bootstrap";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  font-weight: bold;
}

.main-title {
  color: #007bff;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}
/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.AppContainer {
  display: flex;
  height: 100vh;
}

.SidebarContainer {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.SidebarContainer h2 {
  margin-bottom: 20px;
}

.UserList {
  list-style: none;
  padding: 0;
}

.UserItem {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.ChatContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.MessagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.Message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e1f5fe;
  border-radius: 10px;
  max-width: 60%;
}

.Message.isMine {
  align-self: flex-end;
}

.InputContainer {
  display: flex;
}

.TextInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.SendButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SendButton:hover {
  background-color: #0056b3;
}
.isMine{
  background-color: #E5E5EA;
  margin-left: auto;
  text-align: right;
}
.isOther{
  background-color: #DCF8C6;
  margin-right: auto;
  text-align: left;
}